#dev-shell-wrapper {
  display: flex;
  flex-flow: column;
  height: 100vh;
  scrollbar-width: none;
  overflow: hidden;
}

#dev-shell-wrapper > lib-dev-shell {
  flex: 1;
  overflow: auto;
}

#footer {
  min-height: 2rem;
  background-color: grey;
  padding: 0.5rem;
  color: white;
}

html {
  scrollbar-width: none;
  overflow: hidden;
}
